.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center text horizontally */
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    width: 200px; /* Adjust width for better spacing */
}

.pay-button {
    background-color: #4CAF50; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px; 
    border-radius: 5px; 
    cursor: pointer;
}

.pay-button:hover {
    background-color: #45a049; 
}

.flex-container {
    display: flex;
}
