.item-container {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    background-color: #f0f0f0; 
    padding: 20px; 
    border-radius: 10px; 
    margin: 10px; 
    width: 120px;
    
}

.pay-button {
    background-color: #4CAF50; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px; 
    border-radius: 5px; 
    cursor: pointer;
}

.pay-button:hover {
    background-color: #45a049; 
}
